.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: rgb(131, 212, 107);
}

.titleBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  align-items: center;
  border: 1px solid yellowgreen;
  background: darkorange ;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 200px 10px 200px;
  background: rgb(195, 80, 151) ;
}
.btnFilterReset {
margin-top: 20px;
}
