.tableContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 90vh;
}
.table {
  width: 100%;
  font-size: 16px;
   border-collapse: collapse; 
  text-align: center;
  border-radius: 20px;
  margin-bottom: 50px;
}
.tableThead{
  background: #EFEFEF;
}
.triangle {
  display: flex;
  flex-direction: column;
  margin: -10px 5px;
  width: 10px;
  font-size: 12px;
  cursor: pointer;
}
.table th, td {
  padding: 7px 7px;
  border: solid 1px#D9D9D9;
}