.container {
    height: 93vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 28px;
    margin: 10px 20px;
}

.btnBlock {
    margin: 10px;
}

.backAndTitle {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.searchFields {
    display: flex;
    margin: 10px;
}

.table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
   
}
